/* paramètres généraux*/

body {

    font-family: calibri;
    font-size: 24px;
    font-weight: normal;
}


header {
    display: flex;
    background-color: darkslategray;
    height: 70px;
    margin: -8px;
    
    
}

#APLogo 
{

    margin-top: 20px;
    margin-left: 8px;
    font-size: 24px;
    color: white;
}

#wolf
{
    width: 70px;

}

div {
    
    font-size: 18px;
}

p {
    font-size: 18px;
}

/* page index*/



h1 {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    
    
}
h2 {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.boutonWide {
    height: 60px;
    width: 400px;
    font-family: calibri;
    font-size: 20px;
    color: white;
    background-color: darkslategray;
    border: none;
    
}

#boutonSection{
    padding-top: 80px;
    text-align: center;
}

/* page CreerSondage */


#creationDuSondage
{
    margin-left: 7%;
    font-family: calibri;
    font-size: 18px;
}



#question{
    text-align: center;
    
}
#questionBox{
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    padding-left: 5px; 
    font-size: 20px
     
}

#sectionChoix{
    
    
}

ol{
    
    margin-top: 50px;
    padding-left: 13%
    
    
    
    
    
}
li{
    
    margin-bottom: 25px;
}
.choixBox{
    
    width: 85%;
    border-bottom : gray 1px solid;
    border-top:none;
    border-left:none;
    border-right: none;
    font-size: 16px;
}

#checkEtBouton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 7%;
    margin-right: 15%;
}

#autoriserMultiples{
    margin-top: 15px;
    
    
}

#genererLeSondage {
    height: 50px;
    width: 200px;
    font-family: calibri;
    font-size: 20px;
    color: white;
    background-color: darkslategray;
    border: none;
}

/*page SondageCree*/

#votreSondageCree{
    margin-top: -20px;
}

#conservezLesLiens{
        margin-top: -40px;

}
#liens{
    margin-top: 80px
}
.lien{
    border-bottom: 1px solid gray;
    width: 50%;
    margin-left: 20%;
    
    
}

/*page SondageSupprime*/
#votreSondagesupprime{
    margin-top: 5%;
}

#RetourIndex {
    height: 60px;
    width: 400px;
    font-family: calibri;
    font-size: 20px;
    color: white;
    background-color: darkslategray;
    border: none;
} 
#boutonSection2{
    padding-top: 180px;
    text-align: center;
}
/*page Sondage*/

#question2 {
    margin-top: 30px;
    text-align: center;
    
}
#questionBox2 {
    width: 75%;
    height: 50px;
    border-bottom: gray 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px
}

#boutonsVoterEtResultats {
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 7%;
    margin-right: 15%;
}

.boutonTypique {
    height: 50px;
    width: 200px;
    font-family: calibri;
    font-size: 20px;
    color: white;
    background-color: darkslategray;
    border: white solid 1px;
}

#choisissezReponse {
    
    margin-top: 30px;
    font-family: calibri;
    font-size: 18px;

}

#nbVotants {
    text-align: right;
    margin-top: 30px;
    margin-right : 18%;
    font-family: calibri;
    font-size: 18px;
}
#sectionChoisissezReponseEtNbVotants {
    display : flex;
    justify-content : space-between;
}

#sectionChoixReponse {
    margin-left: 13%;
}

.choixReponse{
    width: 80%;
    border-bottom : gray 1px solid;
    border-top:none;
    border-left:none;
    border-right: none;
    font-size: 16px;
        
}

.choixCheck{
    margin-bottom: 25px
}

/*Page Vote*/

#votreVote {
    margin-top: -50px;
}

#voirResultatsEtAccueil {
    text-align: center;
    
    
}

#voirResultats {
    margin-top: 70px;
}

#retourAccueil {
    margin-top: 70px;
}

/*Page Résultats*/

#boutonSection3 {
    padding-top: 50px;
    text-align: center;
}

#sectionChoixReponseResultats {
    padding-top: 40px;
    margin-left: 13%;
    font-size : 22px;
}

#barre {
    width: 82%;
    background-color: lightgrey;
    border: none;
    height: 25px;
    
}

/*Page Erreur*/

#erreurBody {
    background-color: black;
}

#erreur {
    font-family: calibri;
    text-align: center;
    color: lightgray;
    
}

#sectionErreur{
    padding-top:5%;
}





