header {
    background-color: dimgray;
    height: 70px;
    margin : -8px;

}
.ButtonLogSign 
{
    margin-right: 20px;
    padding-top: 40px;
    text-align:right;

}


.Wolf
{
    float:left;
}

.IndexBody
{
    padding-top: 100px;
    text-align: center;
    font-family: arial;
    color: ;
}

#Creer
{
    padding-top: 50px;
    color: ;


}

#ButtonCreer
{
    margin-top: 50px;
    padding : 20px;
    border-radius: 50px;
}

#ButtonCreer:hover
{
    background-color: aliceblue;

}


body {
    background-color : 
}