
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Content/style.css">


</head>


<body>
    <header>

        <img id="wolf" alt="Loup" src="../../Content/wolf.jpg">
        <p id=APLogo>AlphaPoll</p>

    </header>

    <p id=creationDuSondage>
        Création du sondage :
    </p>

    <div id="question">
        <form>
            <input id="questionBox" type="text" placeholder="Tapez votre question ici">
        </form>
    </div>

    <div id="sectionChoix">
        <ol>
            <li>
                <form>
                    <input class="choixBox" type="text" placeholder="Tapez le choix 1">
                </form>
            </li>
            <li>
                <form>
                    <input class="choixBox" type="text" placeholder="Tapez le choix 2">
                </form>
            </li>
            <li>
                <form>
                    <input class="choixBox" type="text" placeholder="Tapez le choix 3">
                </form>
            </li>
            <li>
                <form>
                    <input class="choixBox" type="text" placeholder="Tapez le choix 4">
                </form>
            </li>
        </ol>
    </div>


    <div id="checkEtBouton">
        <div id="autoriserMultiples">
            <input type="checkbox" name="check" id="check" /><label for="check">Autoriser les choix multiples</label>
        </div>
        <div id="genererBouton">
            <input type="button" id="genererLeSondage" value="Générer le sondage" onclick="self.location.href='SondageCree.html'" />
        </div>
    </div>
</body>

</html>