
@{
    Layout = null;
}



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Content/style.css">

</head>


<body>
    <header>
        <img id="wolf" alt="Loup" src="../../Content/wolf.jpg" />



        <p id=APLogo>AlphaPoll</p>

    </header>

    <h1>
        Bienvenue sur Alpha Poll
    </h1>

    <h2>
        Créez et partagez vos sondages en ligne en quelques instants
    </h2>


    <div id=boutonSection>
        <input type="button" class=boutonWide value="Créer un nouveau sondage" onclick="self.location.href='CreerSondage.html'">
    </div>

</body>
</html>