
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Content/style.css">
    <title>Erreur</title>
</head>
<body id="erreurBody">
    <div id="sectionErreur">
        <p id="erreur">
            Hey vous !! Vous ne seriez pas en train d'essayer de faire un truc pas cool là ?? <br /><br />

            <img id="skull" alt="skull" src="../../Content/pixel-skull-totenkopf.png" /> <br /><br />


            Retournez sur la page précédente. <br /><br />
            Ce design est moche, mais c'est une page d'erreur, c'est fait exprès !!<br />
            La prochaine fois, faites plus attention !!
        </p>
    </div>
</body>
</html>
