body {

    font-family: calibri;
    font-size: 24px;
    font-weight: normal;
}


header {
    background-color: dimgray;
    height: 70px;
    margin : -8px;
}

#APLogo 
{

    padding-top: 20px;
    padding-left: 90px;
    font-size: 24px;
    color: white
}

#wolf
{
    width: 70px;
    float: left;
}

div {
    padding-top: 30px;
    padding-left: 90px;
    font-size: 18px;
}




h1 {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    
    
}
h2 {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

#creerNouveauSondage {
    height: 60px;
    width: 400px;
    
    font-family: calibri;
    font-size: 20px;
    color: white;
    background-color: dimgray;
}
#boutonSection{
    padding-top: 80px;
    margin-left: -70px;
    text-align: center;
}
#question{
    margin-left: 7%;
    
}
#questionBox{
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    padding-left: 5px; 
    font-size: 20px
     
}

ol{
    
    margin-top: 50px;
    text-align: left;
    
    
    
}
li{
    
    margin-bottom: 25px;
}
#choixBox{
    
   width: 75%;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-top:none;
    border-left:none;
    border-right: none;
    font-size: 16px;
}

#checkEtBouton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -20%;
    margin-top: 50px;
}

#autoriserMultiples{
    margin-top: 15px;
    
}

#genererLeSondage{
    height: 50px;
    width: 200px;
    
    font-family: calibri;
    font-size: 20px;
    color: white;
    background-color: dimgray;
    
}

