
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Content/style.css">

</head>


<body>
    <header>
        <img id="wolf" alt="Loup" src="../../Content/wolf.jpg" />
        <p id=APLogo>AlphaPoll</p>

    </header>


    <h1 id="votreSondageCree"> Votre sondage a été créé !</h1>

    <h2 id="conservezLesLiens"> Conservez bien les liens ci-dessous :</h2>


    <div id="liens">
        <p class=lien> Accéder au sondage : <a href='/Sondage/Sondage'>http://sdfsdgvsdfsf14253465768</a> </p>

        <p class=lien> Résultats du sondage : <a href="Resultat.html">http://fgokhfmogl6786756498783</a> </p>

        <p class=lien> Suppression du sondage : <a href="SondageSupprime.html">http://zaeazeazeaz454515212418574</a> </p>
    </div>




</body>


</html>
