
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Content/style.css">

</head>


<body>
    <header>
        <img id="wolf" alt="Loup" src="../../Content/wolf.jpg" />
        <p id=APLogo>AlphaPoll</p>

    </header>







    <h1> Merci d'avoir voté !</h1>
    <h1 id="votreVote">Votre vote a bien été pris en compte</h1>




    <div id="voirResultatsEtAccueil">
        <form action="Resultats">
            <input type="hidden" name="idSondage" value=@ViewBag.idSondage />
            
            <input type="submit" name="VoirResultat" value="Voir les résultats" id="voirResultats" class="boutonWide">
        </form>
        <br />

        <input type="button" name="RetourIndex" value="Retour à l'accueil" id="retourAccueil" class="boutonWide" onclick="self.location.href='/Home/Index'">
    </div>





</body>
</html>
